bash_history
zsh_history
target
.vscode
**/perf.data
**/perf.data.old

.ccache
/data/ccache

**/eval-results/done-runs/**
**/eval-scripts/*_coverage.pdf
eval-targets
eval-results

# ida related
**/*.id[0-9]
**/*.nam
**/*.til

# python stuff
__pycache__

chromium_quic_kMaxIncomingPacketSize_rr
#eval
#networked-binaries
lib/network-fuzzing-introspection
consumer/aflpp-consumer
lib/gdbinit-gef.py
lib/gef-plugins/
lib/pernosco-submit/
lib/cat-replayable/
lib/asan_symbolize.py
lib/ipc-channel
lib/llvm-cov-json/
scripts
